In [2]:
import pandas as pd

In [3]:
pd.read_csv('raw_data/bookings.csv')

,id_booking,id_user,id_charter_company,id_support,booking_date,currency,insurance_cancel,insurance_damage,insurance_flex,insurance_gs_damage,...,country_start_name,id_destination_start,destination_start_name,id_country_end,country_end_name,id_destination_end,destination_end_name,start_date,end_date,final_price_eur
0,1,344,639,0,7/25/2010 23:02,EUR,0000-00-00,0000-00-00,0000-00-00,0000-00-00,...,Croatia,281.0,Punat,53.0,Croatia,281.0,Punat,8/9/2010,8/14/2010,1026.0
1,2,430,276,0,7/29/2010 21:10,EUR,0000-00-00,0000-00-00,0000-00-00,0000-00-00,...,Portugal,157.0,Vilamoura Marina,175.0,Portugal,157.0,Vilamoura Marina,8/7/2010,8/14/2010,1638.0
2,8,59,32,1,8/17/2010 14:01,EUR,0000-00-00,0000-00-00,0000-00-00,0000-00-00,...,France,97.0,Lorient,67.0,France,97.0,Lorient,9/18/2010,9/25/2010,760.0
3,9,586,46,3,8/12/2010 14:28,EUR,0000-00-00,0000-00-00,0000-00-00,0000-00-00,...,France,425.0,Bandol,67.0,France,425.0,Bandol,8/21/2010,8/27/2010,1802.0
4,15,889,80,0,9/10/2010 21:45,EUR,0000-00-00,0000-00-00,0000-00-00,0000-00-00,...,France,89.0,Brest,67.0,France,89.0,Brest,10/8/2010,10/10/2010,750.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31398,49892,177348,298,212,12/15/2022 16:10,EUR,0000-00-00,0000-00-00,0000-00-00,0000-00-00,...,Italy,478.0,Marina di Scarlino,114.0,Italy,478.0,Marina di Scarlino,7/22/2023,7/29/2023,3335.0
31399,49893,68375,280,13,12/15/2022 16:50,EUR,0000-00-00,0000-00-00,0000-00-00,0000-00-00,...,Greece,461.0,Paros,73.0,Greece,461.0,Paros,8/19/2023,8/26/2023,6743.9
31400,49897,46627,223,70,12/15/2022 18:11,EUR,12/15/2022,0000-00-00,0000-00-00,0000-00-00,...,Thailand,1275.0,Yacht Haven Marina,218.0,Thailand,1275.0,Yacht Haven Marina,4/22/2023,4/29/2023,3995.0
31401,49898,41403,74,13,12/15/2022 18:41,EUR,0000-00-00,12/15/2022,0000-00-00,0000-00-00,...,Spain,762.0,Palma,62.0,Spain,762.0,Palma,7/1/2023,7/7/2023,7245.9
31402,49900,297673,223,144,12/15/2022 22:35,EUR,0000-00-00,0000-00-00,0000-00-00,0000-00-00,...,Croatia,990.0,Seget Donji,53.0,Croatia,990.0,Seget Donji,9/30/2023,10/28/2023,7744.8

In [4]:
strftime

NameError: name 'strftime' is not defined

In [5]:
pd.read_csv('raw_data/users.csv')

,id_user,id_support,email_is_valid,creation_date,last_login_date,auto_reminder_date,civility,birthday,timezone_offset,country,country_name,default_language,default_currency,newsletter,partners_newsletter
0,1,1,1,0000-00-00 00:00:00,11/9/2022 1:41,10/13/2023,Mr,2/5/1969,NaN,FR,France,en_US,NaN,1,1
1,6,2,1,0000-00-00 00:00:00,11/10/2022 15:35,10/13/2023,Mr,2/26/1984,NaN,FR,France,fr_FR,NaN,0,0
2,10,172,1,0000-00-00 00:00:00,4/26/2022 14:55,11/24/2023,Mr,2/10/1983,NaN,FR,France,fr_FR,NaN,0,0
3,14,13,1,0000-00-00 00:00:00,12/13/2016 22:35,5/5/2023,Mr,4/8/1959,NaN,FR,France,fr_FR,NaN,0,0
4,17,13,1,0000-00-00 00:00:00,4/14/2019 18:34,11/10/2023,Mr,0000-00-00,NaN,FR,France,fr_FR,NaN,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151457,298570,0,1,12/16/2022 1:13,12/16/2022 1:14,NaN,Mr,0000-00-00,10.0,AU,Australia,en_US,AUD,1,1
151458,298571,0,1,12/16/2022 1:52,12/16/2022 1:58,NaN,Ms,0000-00-00,1.0,ES,Spain,es_ES,EUR,0,0
151459,298572,0,WRICDE,12/16/2022 3:41,12/16/2022 3:41,NaN,Mr,0000-00-00,8.0,SG,Singapore,en_US,EUR,0,0
151460,298573,0,1,12/16/2022 3:41,12/16/2022 3:42,NaN,Mr,0000-00-00,-5.0,CA,Canada,en_US,EUR,0,0
151461,298574,0,BMYYBW,12/16/2022 4:49,12/16/2022 4:55,NaN,Ms,0000-00-00,-6.0,MX,Mexico,es_ES,EUR,0,0

In [7]:
log_df = pd.read_csv('raw_data/Logins.csv')
log_df

,id_log,id_user,log_date,user_agent,referer_source
0,5,1,4/23/2012 9:07,Mozilla/4.0 (compatible; MSIE 7.0; Windows NT ...,www.bing.com
1,10,1,4/23/2012 9:41,Mozilla/5.0 (Windows NT 6.1; WOW64; rv:11.0) G...,www.google.com
2,22,1,4/23/2012 10:57,Mozilla/5.0 (Windows NT 6.1; WOW64; rv:11.0) G...,NaN
3,180,1,4/24/2012 16:18,Mozilla/5.0 (Windows NT 6.1; WOW64; rv:11.0) G...,NaN
4,777,1,5/7/2012 17:03,Mozilla/5.0 (Windows NT 6.1; WOW64; rv:11.0) G...,NaN
...,...,...,...,...,...
240893,345457,298570,12/16/2022 1:13,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7...,www.google.com
240894,345458,298571,12/16/2022 1:52,Mozilla/5.0 (iPhone; CPU iPhone OS 16_0 like M...,www.google.com
240895,345459,298572,12/16/2022 3:41,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7...,www.google.com
240896,345460,298573,12/16/2022 3:41,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,www.google.com
240897,345461,298574,12/16/2022 4:49,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,www.google.com

In [13]:
log_df.loc[15,'user_agent']

'Mozilla/5.0 (iPad; CPU OS 5_1_1 like Mac OS X) AppleWebKit/534.46 (KHTML, like Gecko) Version/5.1 Mobile/9B206 Safari/7534.48.3'

In [ ]:
mac_list = ['Mackintosh', 'iPhone','iPad']

log_df['device']=